
@font-face {	
	font-family: GothamBold;    /*headline*/
	src:
	 url('fonts/Gotham-Bold.otf');

}
@font-face {
	font-family: GothamMedium;     /*in front of color head line*/
	src:
	 url('fonts/Gotham-Medium.otf');

}
@font-face {
	font-family: Baskerville;     /*subhead*/
	src:
	 url('fonts/baskvl.ttf');
}

@font-face {
	font-family: GothamRoundedBook;     /*main body text*/
	src:
	 url('fonts/GothamRnd-Book.otf');
}
@font-face {
	font-family: DroidSansRegular;     /*online explainers/captions*/
	src:
	 url('fonts/DroidSans.ttf');
}



h2 {
	font-family: 'GothamMedium', sans-serif;
}

a {
	font-family: 'GothamMedium', sans-serif;
}



body { 
	font-size: 80%; 
	font-family: 'Baskerville', Verdana, Arial, Sans-Serif;
}

ul#tabs { 
	list-style-type: none; 
	margin: 30px 0 0 0; 
	padding: 0 0 0.3em 0; 
}

ul#tabs li { 
	display: inline;
}

ul#tabs li a { 
	color: #42454a; 
	background-color: #dedbde; 
	border: 1px solid #c9c3ba; 
	border-bottom: none; padding: 0.3em; 
	text-decoration: none; 
}

ul#tabs li a:hover { 
	background-color: #f1f0ee;
}

ul#tabs li a.selected {
	color: #000; 
	background-color: #f1f0ee; 
	font-weight: bold; 
	padding: 0.7em 0.3em 0.38em 0.3em; 
}

div.large-12-columns{ 
	padding: 0.5em; 
}

div.large-12-columns.hide { 
	display: none; 
}

.homepage-text{	background-color: #f1f0ee; 
font-family: 'Baskerville', Verdana, Arial, Sans-Serif;
}

.homepage-title{
		background-color: #f1f0ee; 
		padding: 0.7em 0.3em 0.38em 0.3em; 
		font-family: 'GothamMedium', Verdana, Arial, Sans-Serif; 


}
.subheader{
	background-color: #f1f0ee; 
		padding: 0.7em 0.3em 0.38em 0.3em; 
		font-family: 'GothamBold', Verdana, Arial, Sans-Serif;
}

#logo_top_container{
    text-align: center;
}

#nav_bar {
    height: 85px; 
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    clear: both;
}

.sticky_helper {
    margin-top: 100px;  
}

#nav_bar_list {
    list-style: none;
    padding: 0;
    list-style-type: none;
}

.nav_link_button {
    text-align: center;
    padding: 20px;   
    margin: 10px;
    display: inline;
}

#nav_bar_small {
    display: none;
}

#nav_bar_small_list {
    list-style: none;   
    padding: 0;
    list-style-type: none;
}

.nav_link_button_small {
    text-align: center;
    display: inline;
    min-width: 30%;
    vertical-align: center;
}

.nav_link {
	color: #000; 
	padding: 0.7em 0.3em 0.38em 0.3em;
}

@media screen and (max-width: 650px) {
    #nav_bar {
        height: 60px; 
    }
}

@media screen and (max-width: 420px) {
    #nav_bar {
        display: none;   
    }
    #nav_bar_small {
        display: block;   
    }
}