
#nav_bar {
    height: 100px; 
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: white;
}

#nav_bar_content {
}

.nav_link_button {
    padding: 20px;   
    margin: 10px;
    text-align: center;
    display: inline;
}

.nav_link {
    
}